.restaurant__card {
  border: 1px solid #CCC;
  border-radius: 4px;
  margin-bottom: 20px; }

body {
  color: #1d132b; }

a {
  color: #2D4DF1; }
  a:hover {
    color: #2D4DF1; }

.navbar-dark {
  background: #4C62DB; }

.btn-secondary {
  background-color: #1d132b;
  border-color: #1d132b; }
  .btn-secondary:hover {
    background-color: #372D45;
    border-color: #372D45; }

.nav-tabs {
  background: #E0E1F7; }
  .nav-tabs .nav-item .nav-link {
    border: none;
    color: #1d132b; }
    .nav-tabs .nav-item .nav-link.active {
      color: #1d132b;
      font-weight: bold; }
    .nav-tabs .nav-item .nav-link:focus, .nav-tabs .nav-item .nav-link:hover {
      border: none;
      color: #372D45; }

/* Nav styles - bootstrap overrides */
.navbar-brand, .navbar-button {
  flex: 1; }

.navbar-button {
  text-align: right; }

.navbar-nav-scroll {
  flex: 2; }

.nav-tabs {
  justify-content: center; }
  .nav-tabs .nav-item .nav-link {
    cursor: pointer; }

@media (max-width: 991.98px) {
  .bd-navbar .navbar-nav-scroll {
    max-width: 100%;
    height: 2.5rem;
    margin-top: .25rem;
    overflow: hidden;
    font-size: .875rem; }
    .bd-navbar .navbar-nav-scroll .navbar-nav {
      padding-bottom: 2rem;
      overflow-x: auto;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch; } }

@media (min-width: 768px) {
  .navbar-nav {
    justify-content: center; } }

/* Layout styles */
.container {
  margin: 40px auto; }

.container .btn {
  margin: 5px; }

.row {
  margin: 0 auto 20px; }

.button-wrapper {
  margin-bottom: 40px; }

/* Component styles */
#results {
  margin: 30px auto; }

.all-restaurants li {
  padding: 10px; }

.restaurant--new::before {
  content: 'New!';
  color: red;
  font-size: 10px;
  padding-right: 5px; }
