.container .btn {
  margin:5px;
}
.row {
  margin:0 auto 20px;
}
.navbar-inverse .navbar-nav .active,
.navbar-inverse .navbar-nav .active:hover,
.navbar-inverse .navbar-nav .active:focus {
  color: #fff;
  background-color: #080808;
}

.all-restaurants li {
  padding: 10px;
}
