@import url('https://fonts.googleapis.com/css?family=Rubik');
@import 'partials/colors';

// Color palette:
body {
  font-family: 'Rubik', sans-serif;
  color:$darkPurple;
}
a {
  color:$darkPurple;
  font-weight:bold;
  &:hover {
    color:$darkPurple;
  }
}
// Top Bar
.navbar-dark {
  background:$darkPurpleLighten10;
}
.btn-secondary {
  background-color:$darkPurple;
  border-color:$darkPurple;
  &:hover {
    background-color:$darkPurpleLighten10;
    border-color:$darkPurpleLighten10;
  }
}

.navbar {
  .nav-link {
    color:rgba(255,255,255,.5);
    font-weight:normal;
  }
}

// Main body tabs
.nav-tabs {
  background:$lightPurple;
  .nav-item .nav-link {
    border:none;  
    color: rgba($darkPurple, 0.8);
    &.active {
      color:rgba($darkPurple, 1);
      font-weight:bold;
    }
    &:focus,
    &:hover {
      border:none;
      color:rgba($darkPurple, 1);
    }
  }
}


/* Nav styles - bootstrap overrides */
.navbar-brand, .navbar-button {
  flex:1;
}
.navbar-button {
  text-align:right;
}
.navbar-nav-scroll {
  flex:2;
}
.nav-tabs {
  justify-content:center;
  .nav-item .nav-link {
   cursor:pointer;
  }
}

@media (max-width: 991.98px) {
  .bd-navbar {
    .navbar-nav-scroll {
      max-width: 100%;
      height: 2.5rem;
      margin-top: .25rem;
      overflow: hidden;
      font-size: .875rem;
      .navbar-nav {
        padding-bottom: 2rem;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    }    
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    justify-content:center;
  }
}

  
/* Layout styles */
.container {
  margin:40px auto;
}
.container .btn {
  margin:5px;
}
.row {
  margin:0 auto 20px;
}
.button-wrapper {
  margin-bottom:40px;
}
  
/* Component styles */
#results  {
  margin:30px auto;
 
}
.all-restaurants li {
  padding: 10px;
}
.restaurant--new::before {
  content:'New!';
  color:$bluePurple;
  font-size:10px;
  padding-right:5px;
}
